<form action="/api/login" method="post">
<h2>Log in</h2>
  <input type="text" name="username" placeholder="name" required />
  <input type="text" name="password" placeholder="password" />
  <button type="submit">Submit</button>
  <a href="/api/register">Sign up</a>
</form>