<footer>
  <div class="container align-center">
    <div class="logo_img">
      <a href="/">
        <img src="/imgs/logo.svg" alt="" />
      </a>
    </div>
    <nav class="footer_nav d-flex">
      <div class="nav_item"><a href="#">О компании</a></div>
      <div class="nav_item"><a href="#">Контакты</a></div>
      <div class="nav_item"><a href="#">Вакансии</a></div>
      <div class="nav_item"><a href="#">Статьи</a></div>
      <div class="nav_item"><a href="#">Политика обработки персональных данных</a></div>
    </nav>
    <div class="social">
      <ul>
        <li><a href="#"><img src="/imgs/Union.svg" alt="" /></a></li>
        <li><a href="#"><img src="/imgs/vkontakte.svg" alt="" /></a></li>
        <li><a href="#"><img src="/imgs/facebook.svg" alt="" /></a></li>
        <li><a href="#"><img src="/imgs/ok.svg" alt="" /></a></li>
      </ul>
    </div>
    <div class="phone_num d-flex">
      <div class="phone">
        <a href="#!">
          <img src="/imgs/phone.svg" alt="" />
          <span>8 800 777 33 33</span>
        </a>
      </div>
    </div>
  </div>
</footer>
<script src="/scripts/script.js"></script>