<link rel="stylesheet" href="/style/userLogin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="login-body" style="display: none;">
  <div class="login-form-div">
    <button class="close_btn">
      <span><i class="fa-solid fa-xmark"></i></span>
    </button>
    <h3>Вход</h3>
    <form action="/login">
      <div class="input-number">
        <label for="phone" class="phone_label">Телефон</label>
        <input type="text" />
      </div>
      <div class="input-password">
        <label for="phone" class="phone_label">Парол</label>
        <input type="text" />
      </div>

      <button class="log_in">Вход</button>
    </form>
    <div class="bottom_meniki">
      <div class="left">
        <button>
          <a href="/register">Регистрация</a>
        </button>
      </div>
      <div class="right">
        <a href="#">Забыли пароль?</a>
      </div>
    </div>
  </div>
</div>