<link rel="stylesheet" href="/style/userLogin.css">

<div class="login-body">
  <div class="login-form-div">
    <h3>Вход</h3>
    <form action="/login">
      <div class="input-number">
        <label for="phone" class="phone_label">Телефон</label>
        <input type="text" />
      </div>
      <div class="input-password">
        <label for="phone" class="phone_label">Парол</label>
        <input type="text" />
      </div>

      <button class="log_in">Вход</button>
    </form>
  </div>
</div>