<link rel="stylesheet" href="/stylesheets/nav-style.css" />
<nav>
  <div class="container justify-content-between align-center">
    <div class="col-2">
      <div class="logotip">
        <a href="/"><img src="/imgs/Group.svg" alt="logo" /></a>
        <p>Северяночка</p>
      </div>
    </div>
    <div class="col-auto">
      <button class="category">
        <div class="btn-bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <p>Каталог</p>
      </button>
    </div>
    <div class="col-auto">
      <form action="">
        <input type="text" required placeholder="Найти товар" />
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    <div class="col-3 d-flex justify-content-between">
      <div class="favorites">
        <a href="#">
          <img src="/imgs/shape.svg" alt="" />
          <p>Избранное</p>
        </a>
      </div>
      <div class="Orders">
        <a href="#">
          <img src="/imgs/Frame 211.svg" alt="" />
          <p>Избранное</p>
        </a>
      </div>
      <div class="cart">
        <a href="#">
          <img src="/imgs/shopping-cart.svg" alt="" />
          <p>Избранное</p>
        </a>
      </div>
    </div>
    <div class="col-auto">
      <button>
        <div class="user-img">
          <img src="/imgs/avatar.png" alt="user user-img" />
        </div>
        <div class="user-name">
            <p class="user-name-name">Алексей</p>
        </div>
        <div class="svg-file">
            <img src="/imgs/Shape (Stroke).svg" alt="img">
        </div>
      </button>
    </div>
  </div>
</nav>