<nav>
  <div class="container">
    <div
      class="row align-items-center justify-content-around-lg justify-content-between"
    >
      <div class="logo">
        <a href="/">
          <img class="xl" src="/img/nav-images/logo.png" alt="" />
          <img class="lg" src="/img/nav-images/logo(1).png" alt="" />
        </a>
      </div>
      <div class="catalog">
        <button class="btn_catalog">
          <div class="row justify-content-between align-items-center">
            <svg
              class="btn_catalog_svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.5 12C2.5 11.7239 2.72386 11.5 3 11.5H21C21.2761 11.5 21.5 11.7239 21.5 12C21.5 12.2761 21.2761 12.5 21 12.5H3C2.72386 12.5 2.5 12.2761 2.5 12Z"
                fill="white"
              ></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.5 6C2.5 5.72386 2.72386 5.5 3 5.5H21C21.2761 5.5 21.5 5.72386 21.5 6C21.5 6.27614 21.2761 6.5 21 6.5H3C2.72386 6.5 2.5 6.27614 2.5 6Z"
                fill="white"
              ></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.5 18C2.5 17.7239 2.72386 17.5 3 17.5H21C21.2761 17.5 21.5 17.7239 21.5 18C21.5 18.2761 21.2761 18.5 21 18.5H3C2.72386 18.5 2.5 18.2761 2.5 18Z"
                fill="white"
              ></path>
            </svg>
            <a href="/catalog" class="btn_catalog_text">Каталог</a>
          </div>
        </button>
      </div>
      <div class="search">
        <div class="input_search row">
          <input type="text" placeholder="Найти товар" />
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2.5 10.5C2.5 6.08172 6.08172 2.5 10.5 2.5C14.9183 2.5 18.5 6.08172 18.5 10.5C18.5 14.9183 14.9183 18.5 10.5 18.5C6.08172 18.5 2.5 14.9183 2.5 10.5ZM10.5 3.5C6.63401 3.5 3.5 6.63401 3.5 10.5C3.5 14.366 6.63401 17.5 10.5 17.5C14.366 17.5 17.5 14.366 17.5 10.5C17.5 6.63401 14.366 3.5 10.5 3.5Z"
              fill="#414141"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.4463 15.4464C15.6415 15.2512 15.9581 15.2512 16.1534 15.4464L21.3534 20.6464C21.5486 20.8417 21.5486 21.1583 21.3534 21.3535C21.1581 21.5488 20.8415 21.5488 20.6463 21.3535L15.4463 16.1535C15.251 15.9583 15.251 15.6417 15.4463 15.4464Z"
              fill="#414141"
            ></path>
          </svg>
        </div>
      </div>
      <div class="user_items">
        <div class="user_btns">
          <ul class="user_btns_ul row align-items-center">
            <li class="user_btns_li"><a
                href="/favorites"
                class="user_btns_link row flex-direction-column align-items-center"
              >
                <div class="user_btns_link_img">
                  <svg
                    width="23"
                    height="20"
                    viewBox="0 0 23 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M12.2046 2.25644C13.3299 1.13067 14.8564 0.498169 16.4482 0.498169C18.0399 0.498169 19.5664 1.13063 20.6916 2.25636C21.8174 3.38164 22.45 4.90829 22.45 6.49999C22.45 8.09174 21.8175 9.61826 20.6917 10.7435C20.6917 10.7436 20.6917 10.7435 20.6917 10.7435L11.8517 19.5835C11.6565 19.7788 11.3399 19.7788 11.1446 19.5835L2.30461 10.7435C-0.0390375 8.3999 -0.0390373 4.60009 2.30461 2.25644C4.64826 -0.0872086 8.44807 -0.0872087 10.7917 2.25644L11.4982 2.96289L12.2046 2.25644C12.2046 2.25641 12.2046 2.25647 12.2046 2.25644ZM16.4482 1.49817C15.1217 1.49817 13.8496 2.02528 12.9118 2.96346L11.8517 4.02355C11.758 4.11732 11.6308 4.16999 11.4982 4.16999C11.3656 4.16999 11.2384 4.11732 11.1446 4.02355L10.0846 2.96355C8.13149 1.01042 4.96484 1.01042 3.01172 2.96355C1.05859 4.91667 1.05859 8.08332 3.01172 10.0364L11.4982 18.5229L19.9846 10.0364C20.9228 9.09869 21.45 7.82648 21.45 6.49999C21.45 5.17351 20.9229 3.90138 19.9847 2.96363C19.0469 2.02544 17.7747 1.49817 16.4482 1.49817Z"
                      fill="#414141"
                    ></path>
                  </svg>
                </div>
                <span class="user_btns_link_span">Избранное</span>
              </a></li>
            <li class="user_btns_li"><a
                href="/order"
                class="user_btns_link row flex-direction-column align-items-center"
              >
                <div class="user_btns_link_img">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M11.3325 1.89776C11.3324 1.89785 11.3327 1.89767 11.3325 1.89776L3.33366 5.89721L3.33255 5.89776C2.82288 6.15102 2.50045 6.67089 2.50005 7.24V16.7635C2.49608 17.3334 2.81541 17.8563 3.32416 18.113C3.32445 18.1132 3.32387 18.1129 3.32416 18.113L11.3237 22.1128C11.7462 22.3242 12.2438 22.3243 12.6663 22.1129L20.6664 18.1128L20.6675 18.1122C21.1773 17.8589 21.4997 17.3389 21.5 16.7697V7.24026C21.4997 6.67105 21.1773 6.15106 20.6675 5.89776L20.6664 5.89721L12.6675 1.89776C12.6674 1.89767 12.6677 1.89786 12.6675 1.89776C12.2474 1.6892 11.7527 1.68919 11.3325 1.89776ZM10.8875 1.00223C11.5883 0.654 12.4118 0.654 13.1125 1.00223L13.1137 1.00278L21.1125 5.00223C21.1127 5.00231 21.1124 5.00215 21.1125 5.00223C21.9618 5.42448 22.4995 6.29123 22.5 7.23973V16.77C22.4995 17.7184 21.9624 18.5852 21.1132 19.0074C21.113 19.0075 21.1134 19.0073 21.1132 19.0074L13.1138 23.0071C13.1138 23.0072 13.1138 23.0071 13.1138 23.0071C12.4097 23.3594 11.5806 23.3595 10.8764 23.0072C10.8764 23.0072 10.8765 23.0072 10.8764 23.0072L2.87644 19.0072L2.87506 19.0065C2.02685 18.5791 1.49413 17.708 1.50005 16.7584V7.24C1.50055 6.29154 2.03772 5.4248 2.88695 5.00253C2.88715 5.00243 2.88675 5.00263 2.88695 5.00253L10.8864 1.00278L10.8875 1.00223Z"
                      fill="#414141"
                    ></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M1.87321 5.93638C1.9967 5.6894 2.29704 5.58928 2.54403 5.71278L12.0004 10.441L21.4568 5.71278C21.7038 5.58928 22.0041 5.6894 22.1276 5.93638C22.2511 6.18337 22.151 6.48371 21.904 6.6072L12.224 11.4472C12.0833 11.5176 11.9176 11.5176 11.7768 11.4472L2.09682 6.6072C1.84983 6.48371 1.74971 6.18337 1.87321 5.93638Z"
                      fill="#414141"
                    ></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M12 10.5C12.2761 10.5 12.5 10.7239 12.5 11V22.76C12.5 23.0361 12.2761 23.26 12 23.26C11.7239 23.26 11.5 23.0361 11.5 22.76V11C11.5 10.7239 11.7239 10.5 12 10.5Z"
                      fill="#414141"
                    ></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6.5529 3.27638C6.67639 3.02939 6.97673 2.92928 7.22372 3.05277L17.2237 8.05277C17.4707 8.17627 17.5708 8.4766 17.4473 8.72359C17.3238 8.97058 17.0235 9.0707 16.7765 8.9472L6.7765 3.9472C6.52951 3.82371 6.4294 3.52337 6.5529 3.27638Z"
                      fill="#414141"
                    ></path>
                  </svg>

                </div>
                <span class="user_btns_link_span">Заказы</span>
              </a></li>
            <li class="user_btns_li"><a
                href="/shopping"
                class="user_btns_link row flex-direction-column align-items-center"
              >
                <div class="user_btns_link_img">
                  <svg
                    width="23"
                    height="24"
                    viewBox="0 0 23 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M5 21C5 19.6193 6.11929 18.5 7.5 18.5C8.88071 18.5 10 19.6193 10 21C10 22.3807 8.88071 23.5 7.5 23.5C6.11929 23.5 5 22.3807 5 21ZM7.5 19.5C6.67157 19.5 6 20.1716 6 21C6 21.8284 6.67157 22.5 7.5 22.5C8.32843 22.5 9 21.8284 9 21C9 20.1716 8.32843 19.5 7.5 19.5Z"
                      fill="#414141"
                    ></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M17 21C17 19.6193 18.1193 18.5 19.5 18.5C20.8807 18.5 22 19.6193 22 21C22 22.3807 20.8807 23.5 19.5 23.5C18.1193 23.5 17 22.3807 17 21ZM19.5 19.5C18.6716 19.5 18 20.1716 18 21C18 21.8284 18.6716 22.5 19.5 22.5C20.3284 22.5 21 21.8284 21 21C21 20.1716 20.3284 19.5 19.5 19.5Z"
                      fill="#414141"
                    ></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.5 0.5C0.223858 0.5 0 0.723858 0 1C0 1.27614 0.223858 1.5 0.5 1.5H4.08051C4.83783 5.79147 5.60333 10.0643 6.24931 14.3709C6.43288 15.5947 7.48416 16.5 8.72165 16.5H18.8597C20.0514 16.5 21.0774 15.6588 21.3111 14.4903L22.7503 7.29417C22.936 6.36599 22.226 5.5 21.2795 5.5H6.66046C6.3575 5.5 6.07797 5.58901 5.84436 5.74093L4.99239 0.913107C4.95023 0.674179 4.74262 0.5 4.5 0.5H0.5ZM6.166 7.07417C6.12065 6.77187 6.35478 6.5 6.66046 6.5H21.2795C21.595 6.5 21.8316 6.78866 21.7698 7.09806L20.3305 14.2942C20.1903 14.9953 19.5747 15.5 18.8597 15.5H8.72165C7.97916 15.5 7.34839 14.9568 7.23825 14.2225L6.166 7.07417Z"
                      fill="#414141"
                    ></path>
                  </svg>
                </div>
                <span class="user_btns_link_span">Корзина</span>
                <span class="user_btns_link_count">{{sum}}</span>
              </a></li>
          </ul>
        </div>
      </div>

      <div class="accaunt">
        {{#if admin}}
          <button class="btn_user row align-items-center">
            <img src="{{admin.img}}" alt="" class="btn_user_first_img" />
            <p class="btn_user_name">{{admin.username}}</p>
            <img src="/images/nav-images/Button.svg" alt="" />
            <div class="nav_icon_meniki">
              <svg
                width="14"
                height="8"
                viewBox="0 0 14 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L7 6.29289L12.6464 0.646447C12.8417 0.451184 13.1583 0.451184 13.3536 0.646447C13.5488 0.841709 13.5488 1.15829 13.3536 1.35355L7.35355 7.35355C7.15829 7.54882 6.84171 7.54882 6.64645 7.35355L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z"
                  fill="#414141"
                ></path>
              </svg>
            </div>
            <ul class="dropdown" style="display: none;">
              <li class="dropdown_item"><a href="/api/logout">Logout</a></li>
              <li class="dropdown_item"><a href="#">asd</a></li>
            </ul>
          </button>
        {{else}}
          <button class="btn_sign_in"><span>Войти</span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M13.5 2C13.5 1.72386 13.7239 1.5 14 1.5H19C20.3807 1.5 21.5 2.61929 21.5 4V20C21.5 21.3807 20.3807 22.5 19 22.5H14C13.7239 22.5 13.5 22.2761 13.5 22C13.5 21.7239 13.7239 21.5 14 21.5H19C19.8284 21.5 20.5 20.8284 20.5 20V4C20.5 3.17157 19.8284 2.5 19 2.5H14C13.7239 2.5 13.5 2.27614 13.5 2Z"
                fill="white"
              ></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.6464 7.64645C10.8417 7.45118 11.1583 7.45118 11.3536 7.64645L15.3536 11.6464C15.5488 11.8417 15.5488 12.1583 15.3536 12.3536L11.3536 16.3536C11.1583 16.5488 10.8417 16.5488 10.6464 16.3536C10.4512 16.1583 10.4512 15.8417 10.6464 15.6464L14.2929 12L10.6464 8.35355C10.4512 8.15829 10.4512 7.84171 10.6464 7.64645Z"
                fill="white"
              ></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.5 12C2.5 11.7239 2.72386 11.5 3 11.5H15C15.2761 11.5 15.5 11.7239 15.5 12C15.5 12.2761 15.2761 12.5 15 12.5H3C2.72386 12.5 2.5 12.2761 2.5 12Z"
                fill="white"
              ></path>
            </svg>
          </button>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
<div class="hover_catalog">
  <div class="container">
    <div class="row justify-content-between">
      <ul class="catalogs">
        <li class="catalogs_item"><a href="#" class="catalogs_link">Молоко, сыр,
            яйцо</a></li>
        <li class="catalogs_item"><a
            href="#"
            class="catalogs_link"
          >Хлеб</a></li>
        <li class="catalogs_item"><a href="#" class="catalogs_link">Фрукты и
            овощи</a></li>
        <li class="catalogs_item catalog_mb"><a
            href="#"
            class="catalogs_link"
          >Замороженные продукты</a></li>
      </ul>
      <ul class="catalogs">
        <li class="catalogs_item"><a
            href="#"
            class="catalogs_link"
          >Напитки</a></li>
        <li class="catalogs_item"><a href="#" class="catalogs_link">Кондитерские
            изделия</a></li>
        <li class="catalogs_item catalog_mb"><a
            href="#"
            class="catalogs_link"
          >Чай, кофе</a></li>
      </ul>
      <ul class="catalogs">
        <li class="catalogs_item"><a
            href="#"
            class="catalogs_link"
          >Бакалея</a></li>
        <li class="catalogs_item"><a href="#" class="catalogs_link">Здоровое
            питание</a></li>
        <li class="catalogs_item catalog_mb"><a
            href="#"
            class="catalogs_link"
          >Зоотовары</a></li>
      </ul>
      <ul class="catalogs">
        <li class="catalogs_item"><a
            href="#"
            class="catalogs_link"
          >Непродовольственные товары</a></li>
        <li class="catalogs_item"><a href="#" class="catalogs_link">Детское
            питание</a></li>
        <li class="catalogs_item catalog_mb"><a
            href="#"
            class="catalogs_link"
          >Мясо, птица, колбаса</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="/script/nav-script.js"></script>