<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    {{> nav}}
    {{{body}}}
    {{> footer}}
</body>
<script>
//    document.querySelector('body').addEventListener('contextmenu', (e) => {
   //     e.preventDefault()
    //})
</script>

</html>