<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    {{> login}}
    {{> nav}}
    {{{body}}}
    {{> footer}}
</body>
<script>
    document.querySelector('body').addEventListener('contextmenu', (e) => {
        e.preventDefault()
    })
</script>
<script src="/script/script.js"></script>
</html>