.container {
  max-width: 1208px;
  margin: auto;
}
body {
  background: #fbf8ec;
}
.header_vacansy_directions {
  margin-top: 27px;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
}

.header_vacansy_directions_main {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
  margin-right: 24px;
}

.header_vacansy_directions_next {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin-left: 24px;
  color: #8f8f8f;
}

.header_vacansy_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  color: #414141;
  margin-bottom: 60px;
}

.vacansy_cards {
  display: flex;
  margin-bottom: 40px;
}

.vacancy_card {
  margin-right: 40px;
  padding: 32px;
  background: #ffffff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.card_text {
  margin-bottom: 16px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #414141;
}

.vacancy_card p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}
.card_text1,
.card_text3,
.card_text5 {
  margin-bottom: 8px;
}
.card_text2,
.card_text4,
.card_text6 {
  margin-bottom: 16px;
}

.card_phone {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.phone_number {
  display: block;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-left: 13px;
  color: #414141;
}

@media (max-width: 1200px) {
  .container {
    width: 1100px;
    margin: auto;
  }
}
@media (max-width: 992) {
  .container992 {
    width: 960px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 736px;
    margin: auto;
  }
  .vacancy_card {
    padding: 24px;
  }
  .vacancy_card p {
    font-size: 12px;
  }
  .phone_number {
    font-size: 12px;
  }
  .card_text {
    font-size: 18px;
  }
  .header_vacansy_title {
    font-size: 48px;
    margin: 19px 0 32px;
  }
  .header_vacansy_directions_main {
    margin-right: 16px;
  }
  .header_vacansy_directions_next {
    margin-left: 16px;
  }
  .vacancy_card {
    margin-right: 24px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 550px;
    margin: auto;
  }
  .vacansy_cards {
    flex-wrap: wrap;
  }
  .vacancy_card {
    margin-bottom: 20px;
    padding: 20px;
  }
  .vacancy_card p {
    font-size: 16px;
  }
  .phone_number {
    font-size: 16px;
  }
  .vacancy_card {
    margin-right: 0;
  }
  .card_text {
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 336px;
  }
  .header_vacansy_title {
    font-size: 36px;
    margin: 14px 0 32px;
  }
  .vacancy_card p {
    font-size: 12px;
  }
  .phone_number {
    font-size: 12px;
  }
  .vacancy_card {
    margin-bottom: 16px;
  }
}
