<div class="container">
    <form action="/admin/product/add" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Name">
        <input type="file" name="img" placeholder="img">
        <input type="number" name="price" placeholder="price">
        <input type="number" name="discount" placeholder="dicscount">
        <input type="number" name="star" placeholder="star">
        <input type="text" name="brand" placeholder="brand">
        <input type="text" name="country" placeholder="Country">
        <select name="catalog" id="catalog">
            {{#each categories}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
        <input type="number" name="weight" placeholder="weight in gramm">
        <input type="submit">
    </form>
</div>

<script src="/script/script.js"></script>