<div class="container">
    <form action="/admin/product/add" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Name">
        <input type="file" name="img" placeholder="img">
        <input type="number" name="price" placeholder="price">
        <input type="number" name="discount" placeholder="dicscount">
        <input type="number" name="star" placeholder="star">
        <input type="text" name="brand" placeholder="brand">
        <input type="text" name="country" placeholder="Country">
        <select name="catalog" id="catalog">
            <option value="Молоко, сыр, яйцо">Молоко, сыр, яйцо</option>
            <option value="Хлеб">Хлеб</option>
            <option value="Фрукты и овощи">Фрукты и овощи</option>
            <option value="Замороженные продукты">Замороженные продукты</option>
            <option value="Напитки">Напитки</option>
            <option value="Кондитерские изделия">Кондитерские изделия</option>
            <option value="Чай, кофе">Чай, кофе</option>
            <option value="Бакалея">Бакалея</option>
            <option value="Здоровое питание">Здоровое питание</option>
            <option value="Зоотовары">Зоотовары</option>
            <option value="Детское питание">Детское питание</option>
            <option value="Мясо, птица, колбаса">Мясо, птица, колбаса</option>
            <option value="Непродовольственные товары">Непродовольственные товары</option>
        </select>
        <input type="number" name="weight" placeholder="weight in gramm">
        <input type="submit">
    </form>
</div>

<script src="/script/script.js"></script>