<link rel="stylesheet" href="/style/admin.css">
<div class="container">
  <div class="main_shape">
    <a href="#!">Главная</a>
    <img src="/img/Shape (glova).png" alt="png" />
    <a href="#!">Заказы</a>
  </div>
  <h1 class="h1_count">Заказы <span class="relative_count">30</span></h1>
  <div class="Orders">
    <div class="orders_time" style="display: flex; align-items:center;">
      <div class="date_orders_main">
        <a class="date_orders_main_a" href="#">
          <img src="/img/calendar.png" alt="png" />
        </a>
      </div>
      <button class="orders_time_day active">Сегодня
        <span class="day_order_count">10</span></button>
      <button class="orders_time_day">1 апреля<span class="day_order_count">2</span></button>
      <button class="orders_time_day">5 апреля<span class="day_order_count">1</span></button>
    </div>
    <div class="orders_tab_contents">
      <div class="order_changes active" id="order_changes1">
        <div class="carousel_item">
          <div class="clock_order" style="display: flex; align-items:center; justify-content:space-between;">
            <div class="clock_order_time" style="display: flex; align-items:center;">
              <img src="/img/Frame 211.png" alt="png" />
              <p>11:00</p>
            </div>
            <div class="page_num" style="display: flex; align-items:center;">
              <img src="/img/ptchka.png" alt="png" />
              <p>5/5</p>
            </div>
          </div>
          <div class="min_tab_panel" style="display: flex; align-items:center;">
            <button class="orders_main_time active">Усть-Ижма
              <span class="main_count_span">3</span></button>
            <button class="orders_main_time">Галово<span class="main_count_span">2</span></button>
          </div>
          <div class="order_main active" id="order_main1">
            <div class="custom">
              <div class="ava" style="display: flex; align-items:center;">
                <div class="cust_left" style="display: flex; align-items:center;">
                  <span>355</span>
                  <img src="/img/avatar.png" alt="png" />
                  <p>Антон</p>
                </div>
                <div class="custom_right" style="display:flex; align-items:center;">
                  <div class="tel" style="display:flex; align-items:center;">
                    <img src="/img/Vector 188 (Stroke).png" alt="png" />
                    <a href="#!">+7 912 888 77 55</a>
                  </div>
                  <nav class="nav_absolute">
                    <ul class="drop-down">
                      <li>
                        <a href="#!" class="nav-button">
                          <img src="/img/check-circle.png" alt="png" />
                          <span>Подтвержден</span>
                          <i class="aaa"><img src="/img/Shape (Stroke).png" alt="png" /></i></a>
                      </li>
                      <div class="down_status closed">
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/ptchka.png" alt="png" />
                          <p data-color="#70c05b">Собран</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/delivery.png" alt="png" />
                          <p data-color="#232323">Доставляется</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/bag.png" alt="png" />
                          <p data-color="#008c49">Новый</p>
                        </a>

                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/alert-triangle.png" alt="png" />
                          <p data-color="#232323">Возврат</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/home.png" alt="png" />
                          <p data-color="#d80000">Вернули</p>
                        </a>
                      </div>
                    </ul>
                  </nav>
                  <div class="see_order">
                    <a class="see" href="#"><img src="/img/eye.png" alt="png" />
                      Просмотреть заказ</a>
                  </div>
                  <div class="coment_order">
                    <a class="coment_order_icon" href="#"><img src="/img/message-square.png" alt="png" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom">
              <div class="ava" style="display: flex; align-items:center;">
                <div class="cust_left" style="display: flex; align-items:center;">
                  <span>355</span>
                  <img src="/img/avatar.png" alt="png" />
                  <p>Антон</p>
                </div>
                <div class="custom_right" style="display:flex; align-items:center;">
                  <div class="tel" style="display:flex; align-items:center;">
                    <img src="/img/Vector 188 (Stroke).png" alt="png" />
                    <a href="#!">+7 912 888 77 55</a>
                  </div>
                  <nav class="nav_absolute">
                    <ul class="drop-down">
                      <li><a href="#!" class="nav-button"><img src="/img/check-circle.png" alt="png" />
                          <span>Подтвержден</span>
                          <i class="aaa"><img src="/img/Shape (Stroke).png" alt="png" /></i></a></li>
                      <div class="down_status closed">
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/ptchka.png" alt="png" />
                          <p data-color="#70c05b">Собран</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/delivery.png" alt="png" />
                          <p data-color="#232323">Доставляется</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/bag.png" alt="png" />
                          <p data-color="#008c49">Новый</p>
                        </a>

                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/alert-triangle.png" alt="png" />
                          <p data-color="#232323">Возврат</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/home.png" alt="png" />
                          <p data-color="#d80000">Вернули</p>
                        </a>
                      </div>
                    </ul>
                  </nav>
                  <div class="see_order">
                    <a class="see" href="#"><img src="/img/eye.png" alt="png" />
                      Просмотреть заказ</a>
                  </div>
                  <div class="coment_order">
                    <a class="coment_order_icon" href="#"><img src="/img/message-square.png" alt="png" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom">
              <div class="ava" style="display: flex; align-items:center;">
                <div class="cust_left" style="display: flex; align-items:center;">
                  <span>355</span>
                  <img src="/img/avatar.png" alt="png" />
                  <p>Антон</p>
                </div>
                <div class="custom_right" style="display:flex; align-items:center;">
                  <div class="tel" style="display:flex; align-items:center;">
                    <img src="/img/Vector 188 (Stroke).png" alt="png" />
                    <a href="#!">+7 912 888 77 55</a>
                  </div>
                  <nav class="nav_absolute">
                    <ul class="drop-down">
                      <li><a href="#!" class="nav-button"><img src="/img/check-circle.png" alt="png" />
                          <span>Подтвержден</span>
                          <i class="aaa"><img src="/img/Shape (Stroke).png" alt="png" /></i></a></li>
                      <div class="down_status closed">
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/ptchka.png" alt="png" />
                          <p data-color="#70c05b">Собран</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/delivery.png" alt="png" />
                          <p data-color="#232323">Доставляется</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/bag.png" alt="png" />
                          <p data-color="#008c49">Новый</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/alert-triangle.png" alt="png" />
                          <p data-color="#232323">Возврат</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/home.png" alt="png" />
                          <p data-color="#d80000">Вернули</p>
                        </a>
                      </div>
                    </ul>
                  </nav>
                  <div class="see_order">
                    <a class="see" href="#"><img src="/img/eye.png" alt="png" />
                      Просмотреть заказ</a>
                  </div>
                  <div class="coment_order">
                    <a class="coment_order_icon" href="#"><img src="/img/message-square.png" alt="png" /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="order_main" id="order_main2">
            <h2>Tab is empty</h2>
          </div>
        </div>
        <div class="carousel_item">
          <div class="clock_order" style="display: flex; align-items:center; justify-content:space-between;">
            <div class="clock_order_time" style="display: flex; align-items:center;">
              <img src="/img/Frame 211.png" alt="png" />
              <p>11:00</p>
            </div>
            <div class="page_num" style="display: flex; align-items:center;">
              <img src="/img/ptchka.png" alt="png" />
              <p>5/5</p>
            </div>
          </div>
          <div class="min_tab_panel" style="display: flex; align-items:center;">
            <button class="orders_main_time active">Усть-Ижма
              <span class="main_count_span">3</span></button>
            <button class="orders_main_time">Галово<span class="main_count_span">2</span></button>
          </div>
          <div class="order_main active" id="order_main1">
            <div class="custom">
              <div class="ava" style="display: flex; align-items:center;">
                <div class="cust_left" style="display: flex; align-items:center;">
                  <span>355</span>
                  <img src="/img/avatar.png" alt="png" />
                  <p>Антон</p>
                </div>
                <div class="custom_right" style="display:flex; align-items:center;">
                  <div class="tel" style="display:flex; align-items:center;">
                    <img src="/img/Vector 188 (Stroke).png" alt="png" />
                    <a href="#!">+7 912 888 77 55</a>
                  </div>
                  <nav class="nav_absolute">
                    <ul class="drop-down">
                      <li>
                        <a href="#!" class="nav-button">
                          <img src="/img/check-circle.png" alt="png" />
                          <span>Подтвержден</span>
                          <i class="aaa"><img src="/img/Shape (Stroke).png" alt="png" /></i></a>
                      </li>
                      <div class="down_status closed">
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/ptchka.png" alt="png" />
                          <p data-color="#70c05b">Собран</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/delivery.png" alt="png" />
                          <p data-color="#232323">Доставляется</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/bag.png" alt="png" />
                          <p data-color="#008c49">Новый</p>
                        </a>

                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/alert-triangle.png" alt="png" />
                          <p data-color="#232323">Возврат</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/home.png" alt="png" />
                          <p data-color="#d80000">Вернули</p>
                        </a>
                      </div>
                    </ul>
                  </nav>
                  <div class="see_order">
                    <a class="see" href="#"><img src="/img/eye.png" alt="png" />
                      Просмотреть заказ</a>
                  </div>
                  <div class="coment_order">
                    <a class="coment_order_icon" href="#"><img src="/img/message-square.png" alt="png" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom">
              <div class="ava" style="display: flex; align-items:center;">
                <div class="cust_left" style="display: flex; align-items:center;">
                  <span>355</span>
                  <img src="/img/avatar.png" alt="png" />
                  <p>Антон</p>
                </div>
                <div class="custom_right" style="display:flex; align-items:center;">
                  <div class="tel" style="display:flex; align-items:center;">
                    <img src="/img/Vector 188 (Stroke).png" alt="png" />
                    <a href="#!">+7 912 888 77 55</a>
                  </div>
                  <nav class="nav_absolute">
                    <ul class="drop-down">
                      <li><a href="#!" class="nav-button"><img src="/img/check-circle.png" alt="png" />
                          <span>Подтвержден</span>
                          <i class="aaa"><img src="/img/Shape (Stroke).png" alt="png" /></i></a></li>
                      <div class="down_status closed">
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/ptchka.png" alt="png" />
                          <p data-color="#70c05b">Собран</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/delivery.png" alt="png" />
                          <p data-color="#232323">Доставляется</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/bag.png" alt="png" />
                          <p data-color="#008c49">Новый</p>
                        </a>

                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/alert-triangle.png" alt="png" />
                          <p data-color="#232323">Возврат</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/home.png" alt="png" />
                          <p data-color="#d80000">Вернули</p>
                        </a>
                      </div>
                    </ul>
                  </nav>
                  <div class="see_order">
                    <a class="see" href="#"><img src="/img/eye.png" alt="png" />
                      Просмотреть заказ</a>
                  </div>
                  <div class="coment_order">
                    <a class="coment_order_icon" href="#"><img src="/img/message-square.png" alt="png" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom">
              <div class="ava" style="display: flex; align-items:center;">
                <div class="cust_left" style="display: flex; align-items:center;">
                  <span>355</span>
                  <img src="/img/avatar.png" alt="png" />
                  <p>Антон</p>
                </div>
                <div class="custom_right" style="display:flex; align-items:center;">
                  <div class="tel" style="display:flex; align-items:center;">
                    <img src="/img/Vector 188 (Stroke).png" alt="png" />
                    <a href="#!">+7 912 888 77 55</a>
                  </div>
                  <nav class="nav_absolute">
                    <ul class="drop-down">
                      <li><a href="#!" class="nav-button"><img src="/img/check-circle.png" alt="png" />
                          <span>Подтвержден</span>
                          <i class="aaa"><img src="/img/Shape (Stroke).png" alt="png" /></i></a></li>
                      <div class="down_status closed">
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/ptchka.png" alt="png" />
                          <p data-color="#70c05b">Собран</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/delivery.png" alt="png" />
                          <p data-color="#232323">Доставляется</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/bag.png" alt="png" />
                          <p data-color="#008c49">Новый</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/alert-triangle.png" alt="png" />
                          <p data-color="#232323">Возврат</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/home.png" alt="png" />
                          <p data-color="#d80000">Вернули</p>
                        </a>
                      </div>
                    </ul>
                  </nav>
                  <div class="see_order">
                    <a class="see" href="#"><img src="/img/eye.png" alt="png" />
                      Просмотреть заказ</a>
                  </div>
                  <div class="coment_order">
                    <a class="coment_order_icon" href="#"><img src="/img/message-square.png" alt="png" /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="order_main" id="order_main2">
            <h2>Tab is empty</h2>
          </div>
        </div>
        <div class="carousel_item">
          <div class="clock_order" style="display: flex; align-items:center; justify-content:space-between;">
            <div class="clock_order_time" style="display: flex; align-items:center;">
              <img src="/img/Frame 211.png" alt="png" />
              <p>11:00</p>
            </div>
            <div class="page_num" style="display: flex; align-items:center;">
              <img src="/img/ptchka.png" alt="png" />
              <p>5/5</p>
            </div>
          </div>
          <div class="min_tab_panel" style="display: flex; align-items:center;">
            <button class="orders_main_time active">Усть-Ижма
              <span class="main_count_span">3</span></button>
          </div>
          <div class="order_main active" id="order_main1">
            <div class="custom">
              <div class="ava" style="display: flex; align-items:center;">
                <div class="cust_left" style="display: flex; align-items:center;">
                  <span>355</span>
                  <img src="/img/avatar.png" alt="png" />
                  <p>Антон</p>
                </div>
                <div class="custom_right" style="display:flex; align-items:center;">
                  <div class="tel" style="display:flex; align-items:center;">
                    <img src="/img/Vector 188 (Stroke).png" alt="png" />
                    <a href="#!">+7 912 888 77 55</a>
                  </div>
                  <nav class="nav_absolute">
                    <ul class="drop-down">
                      <li>
                        <a href="#!" class="nav-button">
                          <img src="/img/check-circle.png" alt="png" />
                          <span>Подтвержден</span>
                          <i class="aaa"><img src="/img/Shape (Stroke).png" alt="png" /></i></a>
                      </li>
                      <div class="down_status closed">
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/ptchka.png" alt="png" />
                          <p data-color="#70c05b">Собран</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/delivery.png" alt="png" />
                          <p data-color="#232323">Доставляется</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/bag.png" alt="png" />
                          <p data-color="#008c49">Новый</p>
                        </a>

                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/alert-triangle.png" alt="png" />
                          <p data-color="#232323">Возврат</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/home.png" alt="png" />
                          <p data-color="#d80000">Вернули</p>
                        </a>
                      </div>
                    </ul>
                  </nav>
                  <div class="see_order">
                    <a class="see" href="#"><img src="/img/eye.png" alt="png" />
                      Просмотреть заказ</a>
                  </div>
                  <div class="coment_order">
                    <a class="coment_order_icon" href="#"><img src="/img/message-square.png" alt="png" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom">
              <div class="ava" style="display: flex; align-items:center;">
                <div class="cust_left" style="display: flex; align-items:center;">
                  <span>355</span>
                  <img src="/img/avatar.png" alt="png" />
                  <p>Антон</p>
                </div>
                <div class="custom_right" style="display:flex; align-items:center;">
                  <div class="tel" style="display:flex; align-items:center;">
                    <img src="/img/Vector 188 (Stroke).png" alt="png" />
                    <a href="#!">+7 912 888 77 55</a>
                  </div>
                  <nav class="nav_absolute">
                    <ul class="drop-down">
                      <li><a href="#!" class="nav-button"><img src="/img/check-circle.png" alt="png" />
                          <span>Подтвержден</span>
                          <i class="aaa"><img src="/img/Shape (Stroke).png" alt="png" /></i></a></li>
                      <div class="down_status closed">
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/ptchka.png" alt="png" />
                          <p data-color="#70c05b">Собран</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/delivery.png" alt="png" />
                          <p data-color="#232323">Доставляется</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/bag.png" alt="png" />
                          <p data-color="#008c49">Новый</p>
                        </a>

                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/alert-triangle.png" alt="png" />
                          <p data-color="#232323">Возврат</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/home.png" alt="png" />
                          <p data-color="#d80000">Вернули</p>
                        </a>
                      </div>
                    </ul>
                  </nav>
                  <div class="see_order">
                    <a class="see" href="#"><img src="/img/eye.png" alt="png" />
                      Просмотреть заказ</a>
                  </div>
                  <div class="coment_order">
                    <a class="coment_order_icon" href="#"><img src="/img/message-square.png" alt="png" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom_cards">
              <div class="row">
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-3">
                  <a href="#!" class="view_orders_btn">
                    <img src="/img/eye.png" alt="not found">
                    <p>Просмотреть заказ</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_item">
          <div class="clock_order" style="display: flex; align-items:center; justify-content:space-between;">
            <div class="clock_order_time" style="display: flex; align-items:center;">
              <img src="/img/Frame 211.png" alt="png" />
              <p>11:00</p>
            </div>
            <div class="page_num" style="display: flex; align-items:center;">
              <img src="/img/ptchka.png" alt="png" />
              <p>5/5</p>
            </div>
          </div>
          <div class="min_tab_panel" style="display: flex; align-items:center;">
            <button class="orders_main_time active">Усть-Ижма
              <span class="main_count_span">3</span></button>
            <button class="orders_main_time">Галово
              <span class="main_count_span">1</span></button>
            <button class="orders_main_time">Кельчиюр
              <span class="main_count_span">4</span></button>
            <button class="orders_main_time">Вертеп
              <span class="main_count_span">4</span></button>
            <button class="orders_main_time">Краснобор
              <span class="main_count_span">4</span></button>
            <button class="orders_main_time">Диюр
              <span class="main_count_span">4</span></button>
            <button class="orders_main_time">Ыргеншар
              <span class="main_count_span">4</span></button>
            <button class="orders_main_time">Щельяюр
              <span class="main_count_span">4</span></button>
          </div>
          <div class="order_main active" id="order_main1">
            <div class="custom">
              <div class="ava" style="display: flex; align-items:center;">
                <div class="cust_left" style="display: flex; align-items:center;">
                  <span>355</span>
                  <img src="/img/avatar.png" alt="png" />
                  <p>Антон</p>
                </div>
                <div class="custom_right" style="display:flex; align-items:center;">
                  <div class="tel" style="display:flex; align-items:center;">
                    <img src="/img/Vector 188 (Stroke).png" alt="png" />
                    <a href="#!">+7 912 888 77 55</a>
                  </div>
                  <nav class="nav_absolute">
                    <ul class="drop-down">
                      <li>
                        <a href="#!" class="nav-button">
                          <img src="/img/check-circle.png" alt="png" />
                          <span>Подтвержден</span>
                          <i class="aaa"><img src="/img/Shape (Stroke).png" alt="png" /></i></a>
                      </li>
                      <div class="down_status closed">
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/ptchka.png" alt="png" />
                          <p data-color="#70c05b">Собран</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/delivery.png" alt="png" />
                          <p data-color="#232323">Доставляется</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/bag.png" alt="png" />
                          <p data-color="#008c49">Новый</p>
                        </a>

                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/alert-triangle.png" alt="png" />
                          <p data-color="#232323">Возврат</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/home.png" alt="png" />
                          <p data-color="#d80000">Вернули</p>
                        </a>
                      </div>
                    </ul>
                  </nav>
                  <div class="see_order">
                    <a class="see" href="#"><img src="/img/eye.png" alt="png" />
                      Просмотреть заказ</a>
                  </div>
                  <div class="coment_order">
                    <a class="coment_order_icon" href="#"><img src="/img/message-square.png" alt="png" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom_cards">
              <div class="row">
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-3">
                  <a href="#!" class="view_orders_btn">
                    <img src="/img/eye.png" alt="not found">
                    <p>Просмотреть заказ</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="custom">
              <div class="ava" style="display: flex; align-items:center;">
                <div class="cust_left" style="display: flex; align-items:center;">
                  <span>355</span>
                  <img src="/img/avatar.png" alt="png" />
                  <p>Антон</p>
                </div>
                <div class="custom_right" style="display:flex; align-items:center;">
                  <div class="tel" style="display:flex; align-items:center;">
                    <img src="/img/Vector 188 (Stroke).png" alt="png" />
                    <a href="#!">+7 912 888 77 55</a>
                  </div>
                  <nav class="nav_absolute">
                    <ul class="drop-down">
                      <li>
                        <a href="#!" class="nav-button">
                          <img src="/img/check-circle.png" alt="png" />
                          <span>Подтвержден</span>
                          <i class="aaa"><img src="/img/Shape (Stroke).png" alt="png" /></i></a>
                      </li>
                      <div class="down_status closed">
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/ptchka.png" alt="png" />
                          <p data-color="#70c05b">Собран</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/delivery.png" alt="png" />
                          <p data-color="#232323">Доставляется</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/bag.png" alt="png" />
                          <p data-color="#008c49">Новый</p>
                        </a>

                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/alert-triangle.png" alt="png" />
                          <p data-color="#232323">Возврат</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/home.png" alt="png" />
                          <p data-color="#d80000">Вернули</p>
                        </a>
                      </div>
                    </ul>
                  </nav>
                  <div class="see_order">
                    <a class="see" href="#"><img src="/img/eye.png" alt="png" />
                      Просмотреть заказ</a>
                  </div>
                  <div class="coment_order">
                    <a class="coment_order_icon" href="#"><img src="/img/message-square.png" alt="png" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom_cards">
              <div class="row">
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-3">
                  <a href="#!" class="view_orders_btn">
                    <img src="/img/eye.png" alt="not found">
                    <p>Просмотреть заказ</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="custom">
              <div class="ava" style="display: flex; align-items:center;">
                <div class="cust_left" style="display: flex; align-items:center;">
                  <span>355</span>
                  <img src="/img/avatar.png" alt="png" />
                  <p>Антон</p>
                </div>
                <div class="custom_right" style="display:flex; align-items:center;">
                  <div class="tel" style="display:flex; align-items:center;">
                    <img src="/img/Vector 188 (Stroke).png" alt="png" />
                    <a href="#!">+7 912 888 77 55</a>
                  </div>
                  <nav class="nav_absolute">
                    <ul class="drop-down">
                      <li>
                        <a href="#!" class="nav-button">
                          <img src="/img/check-circle.png" alt="png" />
                          <span>Подтвержден</span>
                          <i class="aaa"><img src="/img/Shape (Stroke).png" alt="png" /></i></a>
                      </li>
                      <div class="down_status closed">
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/ptchka.png" alt="png" />
                          <p data-color="#70c05b">Собран</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/delivery.png" alt="png" />
                          <p data-color="#232323">Доставляется</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/bag.png" alt="png" />
                          <p data-color="#008c49">Новый</p>
                        </a>

                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/alert-triangle.png" alt="png" />
                          <p data-color="#232323">Возврат</p>
                        </a>
                        <a class="status" href="#!" style="display:flex; align-items:center;">
                          <img src="/img/home.png" alt="png" />
                          <p data-color="#d80000">Вернули</p>
                        </a>
                      </div>
                    </ul>
                  </nav>
                  <div class="see_order">
                    <a class="see" href="#"><img src="/img/eye.png" alt="png" />
                      Просмотреть заказ</a>
                  </div>
                  <div class="coment_order">
                    <a class="coment_order_icon" href="#"><img src="/img/message-square.png" alt="png" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom_cards">
              <div class="row">
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="custom_card_item">
                    <div class="custom_card_item_img">
                      <div class="custom_card_item_img_action">
                        <div class="custom_card_item_img_action_cart">
                          <img src="/img/shopping-cart.png" alt="Img not found">
                          <p>4</p>
                        </div>
                        <div class="custom_card_item_img_action_cube">
                          <img src="/img/box.png" alt="Img not found">
                          <p>40</p>
                        </div>
                      </div>
                      <img class="custom_card_item_img_img" src="/img/image.png" alt="not found">
                    </div>
                    <div class="custom_card_item_info">
                      <p>Колбасы</p>
                      <h2>Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-3">
                  <a href="#!" class="view_orders_btn">
                    <img src="/img/eye.png" alt="not found">
                    <p>Просмотреть заказ</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="order_main">
            <h2>Tab is empty</h2>
          </div>
          <div class="order_main">
            <h2>Tab is empty</h2>
          </div>
          <div class="order_main">
            <h2>Tab is empty</h2>
          </div>
          <div class="order_main">
            <h2>Tab is empty</h2>
          </div>
          <div class="order_main">
            <h2>Tab is empty</h2>
          </div>
          <div class="order_main">
            <h2>Tab is empty</h2>
          </div>
          <div class="order_main">
            <h2>Tab is empty</h2>
          </div>
        </div>
      </div>
      <div class="order_changes" id="order_changes2">
        <h2>Tab is empty</h2>
      </div>
      <div class="order_changes" id="order_changes3">
        <h2>Tab is empty</h2>
      </div>
    </div>
  </div>

</div>

<script src="/script/tap-panel.js"></script>    