<link rel="stylesheet" href="/style/catalog.css">

<div class="container">
  <h1 class="catalog-title">Каталог</h1>
  <div class="catalog_images">
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Молоко, сыр, яйцо</p>
      </div><img src="/img/catalog-images/catalog-1.jpg" alt="" />
    </div>
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Хлеб</p>
      </div><img src="/img/catalog-images/catalog-2.jpg" alt="" />
    </div>
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Фрукты и овощи</p>
      </div><img src="/img/catalog-images/catalog-3.jpg" alt="" />
    </div>
  </div>
  <div class="catalog_images">
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Замороженные продукты</p>
      </div><img src="/img/catalog-images/catalog-4.jpg" alt="" />
    </div>
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Напитки</p>
      </div><img src="/img/catalog-images/catalog-5.jpg" alt="" />
    </div>
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Кондитерские изделия</p>
      </div><img src="/img/catalog-images/catalog-6.jpg" alt="" />
    </div>
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Чай, кофе</p>
      </div><img src="/img/catalog-images/catalog-7.jpg" alt="" />
    </div>
  </div>
  <div class="catalog_images">
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Бакалея</p>
      </div><img src="/img/catalog-images/catalog-8.jpg" alt="" />
    </div>
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Здоровое питание</p>
      </div><img src="/img/catalog-images/catalog-9.jpg" alt="" />
    </div>
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Зоотовары</p>
      </div><img src="/img/catalog-images/catalog-10.jpg" alt="" />
    </div>
  </div>
  <div class="catalog_images">
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Детское питание</p>
      </div><img src="/img/catalog-images/catalog-11.jpg" alt="" />
    </div>
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Мясо, птица, колбаса</p>
      </div><img src="/img/catalog-images/catalog-12.jpg" alt="" />
    </div>
    <div class="catalog_images_img">
      <div class="hover">
        <p class="lorem">Непродовольственные товары</p>
      </div><img src="/img/catalog-images/catalog-13.jpg" alt="" />
    </div>
  </div>
</div>