<link rel="stylesheet" href="/style/contact.css" />

<body>
  <header class="header container">
    <div class="header_directions">
      <a class="header_directions_main" href="#!">Главная</a>
      <img class="header_directions_svg" src="/svg/r-arrow.svg" alt="svg" />
      <a class="header_directions_next" href="#!">Контакты</a>
    </div>
    <h1 class="header_title">Контакты</h1>

    <div class="header_requests">
      <div class="requests_info">
        <div class="header_requests_text">
          <div class="requests_text_icon">
            <img src="/svg/home.svg" alt="svg" />
          </div>
          <div class="requests_text">
            <p>Бухгалтерия, склад</p>
          </div>
        </div>
        <div class="header_requests_number">
          <a href="#!">+7 82140 92619</a>
        </div>
      </div>
      <div class="requests_info">
        <div class="header_requests_text">
          <div class="requests_text_icon">
            <img src="/svg/percent.svg" alt="svg" />
          </div>
          <div class="requests_text">
            <p>Вопросы по системе лояльности</p>
          </div>
        </div>
        <div class="header_requests_number">
          <a href="#!">+7 908 716 33 97</a>
        </div>
      </div>
    </div>

  </header>

  <section class="shops container">
    <h2 class="shops_title">Наши магазины</h2>
    <div class="shops_location">
      <div class="location_nav">
        <button class="location_nav_name" onclick="openCity(event, 'content-changes1')"
          id="defaultOpen">п.Щельяюр</button>
        <button class="location_nav_name" onclick="openCity(event, 'content-changes2')">д.Вертеп</button>
        <button class="location_nav_name" onclick="openCity(event, 'content-changes3')">с.Краснобор</button>
        <button class="location_nav_name" onclick="openCity(event, 'content-changes4')">д.Диюр</button>
      </div>
      <div class="location_tab_contents">
        <div class="content_changes active" id="content-changes1">
          <div class="tab_contents_adresses">
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/vosxod.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/parus.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/rybinushka.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/pelis.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
          </div>
          <div class="tab_contents_map">
            <iframe class="contents_map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1398134.5071967675!2d7.103229463182268!3d46.809595485407144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c64ef6f596d61%3A0x5c56b5110fcb7b15!2z0KjQstC10LnRhtCw0YDQuNGP!5e0!3m2!1sru!2s!4v1655192178347!5m2!1sru!2s"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="content_changes" id="content-changes2">
          <div class="tab_contents_adresses">
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/pelis.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/vosxod.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/parus.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/rybinushka.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
          </div>
          <div class="tab_contents_map">
            <iframe class="contents_map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1398134.5071967675!2d7.103229463182268!3d46.809595485407144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c64ef6f596d61%3A0x5c56b5110fcb7b15!2z0KjQstC10LnRhtCw0YDQuNGP!5e0!3m2!1sru!2s!4v1655192178347!5m2!1sru!2s"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="content_changes" id="content-changes3">
          <div class="tab_contents_adresses">
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/vosxod.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/parus.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/rybinushka.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/pelis.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
          </div>
          <div class="tab_contents_map">
            <iframe class="contents_map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1398134.5071967675!2d7.103229463182268!3d46.809595485407144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c64ef6f596d61%3A0x5c56b5110fcb7b15!2z0KjQstC10LnRhtCw0YDQuNGP!5e0!3m2!1sru!2s!4v1655192178347!5m2!1sru!2s"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="content_changes" id="content-changes4">
          <div class="tab_contents_adresses">
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/pelis.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/vosxod.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/parus.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
            <div class="contents_adresses_card">
              <div class="adresses_card_img">
                <img src="/img/rybinushka.png" alt="png" />
              </div>
              <div class="addresses_card_address">
                <div class="card_address_icon">
                  <img src="/svg/home.svg" alt="svg" />
                </div>
                <p class="card_address_text">ул. Дорожная 10 </p>
              </div>
              <div class="addresses_card_phone">
                <div class="card_phone_icon">
                  <img src="/svg/phone.svg" alt="svg" />
                </div>
                <a href="#!" class="card_phone_number">+7 904 271 35 90</a>
              </div>
            </div>
          </div>
          <div class="tab_contents_map">
            <iframe class="contents_map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1398134.5071967675!2d7.103229463182268!3d46.809595485407144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c64ef6f596d61%3A0x5c56b5110fcb7b15!2z0KjQstC10LnRhtCw0YDQuNGP!5e0!3m2!1sru!2s!4v1655192178347!5m2!1sru!2s"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>



  <script src="/script/contact.js"></script>
</body>