{{! Muhriddin }}
{{! title info }}
<section>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="top_glavni">
          <div class="top_glavni_box">
            <a href="/">Главная</a>
          </div>
          <div class="top_glavni_box glavni_boxx">
            <p><i class="fas fa-angle-right"></i></p>
          </div>
          <div class="top_glavni_box glavni_boxx">
            <a href="#!">Избраное</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="saved_title">
          <h1>
            Избраное
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
{{! filtr info }}

<section>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="saved_filtr">
          <p>Фильтр</p>
        </div>
      </div>
      <div class="col-4 saved_filtr_right">
        <div class="saved_sena">
          <div class="saved_sena_box">
            <p>Цена от 99 до 2599</p>
          </div>
          <div class="saved_sena_box">
            <span>
              <i class="fas fa-times"></i>
            </span>
          </div>
        </div>
        <div class="saved_sena_clean">
          <p>Очистить</p>
          <span>
            <i class="fas fa-times"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

{{! filtr bottom }}

<section class="filtr_bottom">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="filtr_bottom_price">
          <h4>Цена</h4>
          <button>Очистить</button>
        </div>
        <div class="filtr_bottom_input">
          <form action="">

            <input type="text" value="0" placeholder="1" class="price_first" />
            <input
              type="text"
              value="100"
              placeholder="100"
              class="price_lest"
            />
          </form>
          <span class="multi-range">
            <input
              type="range"
              min="0"
              max="100"
              value="0"
              id="lower"
              class="price_first1"
            />
            <input
              type="range"
              min="0"
              max="1000"
              value="100"
              id="upper"
              class="price_lest1"
            />
          </span>
        </div>
      </div>
      <div class="col-9"></div>
    </div>
  </div>
</section>