<link rel="stylesheet" href="/style/saved.css" />

<body>
  <header>
    <div class="container">
      <div class="header_saved">
        <div class="header_saved_directions row align-items-center">
          <a class="header_saved_main" href="/">Главная</a>
          <img class="header_saved_svg" src="/svg/r-arrow.svg" alt="svg" />
          <a class="header_saved_next" href="/saved">О компании</a>
        </div>
        <div class="header_title">
          <div class="header_title_texts">
            <h1 class="title_about">О компании</h1>
            <p class="title_text_about">
              Мы непрерывно развиваемся и работаем над совершенствованием сервиса,
              заботимся о наших клиентах, стремимся к лучшему будущему.
            </p>
          </div>
          <div class="header_title_img">
            <img src="/img/head_img.png" alt="png" />
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="info_company container">
    <div class="info_company_card">
      <div class="company_card_light">
        <div class="card1_light_img">
          <img src="/img/check.png" alt="png" />
        </div>
        <div class="card1_light_text">
          <p>Мы занимаемся розничной торговлей</p>
        </div>
      </div>
      <div class="company_card_bold">
        <p>Более 20 лет.</p>
      </div>
    </div>
    <div class="info_company_card">
      <div class="company_card_light">
        <div class="card1_light_img">
          <img src="/img/check.png" alt="png" />
        </div>
        <div class="card1_light_text">
          <p>Основная миссия компании</p>
        </div>
      </div>
      <div class="company_card_bold">
        <p>Максимальное качество товаров и услуг по доступной цене.</p>
      </div>
    </div>
    <div class="info_company_card">
      <div class="company_card_light">
        <div class="card1_light_img">
          <img src="/img/check.png" alt="png" />
        </div>
        <div class="card1_light_text">
          <p>Отличительная черта нашей сети</p>
        </div>
      </div>
      <div class="company_card_bold">
        <p>Здоровая и полезная продукция местного производства внаших магазинах.</p>
      </div>
    </div>
  </section>

  <section class="welcome container">
    <div class="welcome_img">
      <img src="/img/logo.png" alt="png" />
    </div>
    <div class="welcome_text">
      <p class="welcome_text_says">
        Спасибо за то, что вы с нами. Северяночка, везет всегда!
      </p>
    </div>
  </section>
</body>