<link rel="stylesheet" href="/style/vacansy.css" />

<body>
  <header class="container ">
    <div class="header_vacansy_directions">
      <a class="header_vacansy_directions_main" href="/">Главная</a>
      <img class="header_vacansy_directions_svg" src="/svg/r-arrow.svg" alt="svg" />
      <a class="header_vacansy_directions_next" href="#!">Вакансии</a>
    </div>
    <h1 class="header_vacansy_title">Вакансии</h1>
  </header>

  <section class="vacansy container">
    <div class="vacansy_cards">
      <div class="vacancy_card">
        <h3 class="card_text">Должность</h3>
        <p class="card_text1">Требования</p>
        <p class="card_text2">Текст про требования текст про требования текст про
          требования текст про требования текст про требования</p>
        <p class="card_text3">Обязанности</p>
        <p class="card_text4">Текст про обязаности текст про обязаности текст про
          обязаности текст про обязаности текст про обязаности</p>
        <p class="card_text5">Условия</p>
        <p class="card_text6">Текст про условия текст про условия текст про
          условия текст про условия текст про условия текст про условия</p>
        <p class="card_text7">Звоните</p>
        <div class="card_phone">
          <div class="phone_icon"><img src="/svg/phone.svg" alt="svg" /></div>
          <a href="#!" class="phone_number">+7 904 271 35 90</a>
        </div>
      </div>
      <div class="vacancy_card">
        <h3 class="card_text">Должность</h3>
        <p class="card_text1">Требования</p>
        <p class="card_text2">Текст про требования текст про требования текст про
          требования текст про требования текст про требования</p>
        <p class="card_text3">Обязанности</p>
        <p class="card_text4">Текст про обязаности текст про обязаности текст про
          обязаности текст про обязаности текст про обязаности</p>
        <p class="card_text5">Условия</p>
        <p class="card_text6">Текст про условия текст про условия текст про
          условия текст про условия текст про условия текст про условия</p>
        <p class="card_text7">Звоните</p>
        <div class="card_phone">
          <div class="phone_icon"><img src="/svg/phone.svg" alt="svg" /></div>
          <a href="#!" class="phone_number">+7 904 271 35 90</a>
        </div>
      </div>
      <div class="vacancy_card">
        <h3 class="card_text">Должность</h3>
        <p class="card_text1">Требования</p>
        <p class="card_text2">Текст про требования текст про требования текст про
          требования текст про требования текст про требования</p>
        <p class="card_text3">Обязанности</p>
        <p class="card_text4">Текст про обязаности текст про обязаности текст про
          обязаности текст про обязаности текст про обязаности</p>
        <p class="card_text5">Условия</p>
        <p class="card_text6">Текст про условия текст про условия текст про
          условия текст про условия текст про условия текст про условия</p>
        <p class="card_text7">Звоните</p>
        <div class="card_phone">
          <div class="phone_icon"><img src="/svg/phone.svg" alt="svg" /></div>
          <a href="#!" class="phone_number">+7 904 271 35 90</a>
        </div>
      </div>
    </div>
    <div class="vacansy_cards">
      <div class="vacancy_card">
        <h3 class="card_text">Должность</h3>
        <p class="card_text1">Требования</p>
        <p class="card_text2">Текст про требования текст про требования текст про
          требования текст про требования текст про требования</p>
        <p class="card_text3">Обязанности</p>
        <p class="card_text4">Текст про обязаности текст про обязаности текст про
          обязаности текст про обязаности текст про обязаности</p>
        <p class="card_text5">Условия</p>
        <p class="card_text6">Текст про условия текст про условия текст про
          условия текст про условия текст про условия текст про условия</p>
        <p class="card_text7">Звоните</p>
        <div class="card_phone">
          <div class="phone_icon"><img src="/svg/phone.svg" alt="svg" /></div>
          <a href="#!" class="phone_number">+7 904 271 35 90</a>
        </div>
      </div>
      <div class="vacancy_card">
        <h3 class="card_text">Должность</h3>
        <p class="card_text1">Требования</p>
        <p class="card_text2">Текст про требования текст про требования текст про
          требования текст про требования текст про требования</p>
        <p class="card_text3">Обязанности</p>
        <p class="card_text4">Текст про обязаности текст про обязаности текст про
          обязаности текст про обязаности текст про обязаности</p>
        <p class="card_text5">Условия</p>
        <p class="card_text6">Текст про условия текст про условия текст про
          условия текст про условия текст про условия текст про условия</p>
        <p class="card_text7">Звоните</p>
        <div class="card_phone">
          <div class="phone_icon"><img src="/svg/phone.svg" alt="svg" /></div>
          <a href="#!" class="phone_number">+7 904 271 35 90</a>
        </div>
      </div>
      <div class="vacancy_card">
        <h3 class="card_text">Должность</h3>
        <p class="card_text1">Требования</p>
        <p class="card_text2">Текст про требования текст про требования текст про
          требования текст про требования текст про требования</p>
        <p class="card_text3">Обязанности</p>
        <p class="card_text4">Текст про обязаности текст про обязаности текст про
          обязаности текст про обязаности текст про обязаности</p>
        <p class="card_text5">Условия</p>
        <p class="card_text6">Текст про условия текст про условия текст про
          условия текст про условия текст про условия текст про условия</p>
        <p class="card_text7">Звоните</p>
        <div class="card_phone">
          <div class="phone_icon"><img src="/svg/phone.svg" alt="svg" /></div>
          <a href="#!" class="phone_number">+7 904 271 35 90</a>
        </div>
      </div>
    </div>
  </section>
</body>